article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
  font-size: 125%;
  margin: 0;
  background: #004643;

}
body {
  display: flex;
   
}

h1, h2, h3, h4, a, button, p, ul, li {
  margin: 0;
  padding: 0;

}

/* This was giving a hard width so that's why we had to target it with an id */

#root {
  width: 100%;
}

.Wrapper{
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
  min-width: 320px;
 
}

/* Strip general styles */


li {
  list-style: none;
  margin: 5px;
}


button:focus {
  outline: 0;
}

/* Font styles */

h1, 
h2, 
h3, 
label {
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  text-align: center;
 
}
h2, 
h3, 
label {
  color: #ffffb0;
 
}
h1{
  font-size: 3rem;
   color: #ffffb0;
   text-shadow: 2px 1px #4bff72
}
h4{
 font-family: 'Kanit', sans-serif;
 font-size: 1.2rem;
 color: #004643;
}
 
button{
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  text-align: center;
  color:#004643;
  background: #4bff72;
  border-radius: 15px;
  padding: 5px 20px;
  font-size: 1.4rem;
}

p {
  font-family: 'Kanit', sans-serif;
  font-weight: light;
  color: #4bff72;
  font-size: 1.4rem;
}

span {
  display: inline;
}

/* Instructions styles */

.Instructions {
  width: 70%;
  margin: 0 auto;
  padding-top: 50px;
}

.Instructions p{
  color: #ffffb0;
  text-align: justify;
  margin-top: 10px;
  padding: 5px 20px;
  text-align: center;
}

.buttonContainer {
  display: block;
  text-align: center;
  margin: 30px;
}
.buttonContainer button{
  margin-bottom: 20px;
}
.nextWordOption{
  margin: 0 auto;
}

/* Header styles */
header {
  height: 100vh;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

form input {
  margin: 100px;
}

/* Haiku Styles */


.flexParent {
  display: flex;
  flex-direction: column;
  justify-content: left;
  
}
.Haiku {
  width: 80%;
  margin:0 auto;
}

.haikuUl{
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffb0;
 
  
}
.suggestedWords{
   padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center
}
.wordButton{
  padding: 5px 20px;
  background: #004643;
  border: 1px solid #4bff72;
  color:#4bff72;
  border-radius: 10px;
  text-align: center;

}
.wordButton:hover{
  transform: scale(1.4);
}
.nextWordOption{
 position: relative;
}
.Boat {
  position: absolute;
  top: 30%;
  right: 0;
}
.removeLastItem{
 margin: 20px 0;
 display: flex;
 justify-content: center;
}
.removeLastItem button {
  width: 30%;
  background: #4bff72;

}

/* form */

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.Input {
  width: 50%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #4bff72;
  background: #ffffb0;
}
.Submit{

  margin-left: 20px;
}
.Form {
  display: block;
  text-align: center;
  margin: 30px;
}
::placeholder{
  text-align: center;
  color: #004643;
  font-size: 1rem;
  opacity: 1;
}
/* Modal */
.Modal {
  position: absolute;
  
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}
.modalWrapper {
  background: url('./modal.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .8s;
  height: 100vh;
  width: 100vw;
   
}
.instructionWrapper{
  background: #004643;

}
.btnCancel {
    background-color:  #4bff72;
    color: #004643;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}


@media (max-width: 1000px) {
  p {
    font-size: 1.2rem;
  }

}

@media (max-width: 680px) {
  span {
    display: none;
  }

  h1 {
    font-size: 2rem;
  }

  .Input {
    width: 60%;
  }
}

@media (max-width: 475px) {
  p {
    font-size: 1rem;
  }

  .Instructions {
    width: 90%;
  }

  .Input {
    width: 100%;
  }
}